<!DOCTYPE html>
<html>
<head>
    <title>T4T / @Page.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/styles/t4t.css">
</head>
<body>
    @RenderPage("~/Shared/_header.cshtml")
    <main>
        @RenderBody()
    </main>
    @RenderPage("~/Shared/_footer.cshtml")
</body>
</html>
